@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


.carousel-item{
    height: 550px;
}
.text-design{
    text-align: center;
    margin-bottom: 100px;
    color: black;
}
.text-design h5{
    font-size: 50px;
    color: rgb(16, 16, 15);
}
.pera{
    font-size: 30px;
} 
.text{
    margin-left: 80px;
}
.card{
    transition: width 1s; 
}
.card :hover{
    width: 300px;
    transition: 1.5s;
    color: yellow;
}
.span{
    font-size: 3rem;
    color: chartreuse;
}
.icon{
    padding: 20px;
    text-align: center;
    font-size: 60px;
 
 }
 .cardi i:hover{
    padding: 10px;
    border: 10px;
    color: violet;

}
.cardi{
    text-align: center;
}
.bg-image{
    position: relative;
    height:300px ; 
}
.text-bg{
   margin: 50px;
}