@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


.carousel-item{
    height: 550px;
}
.text-design{
    text-align: center;
    margin-bottom: 100px;
    color: black;
}
.text-design h5{
    font-size: 50px;
    color: rgb(16, 16, 15);
}
.pera{
    font-size: 30px;
} 
.text{
    margin-left: 80px;
}
.card{
    transition: width 1s; 
}
.card :hover{
    width: 300px;
    transition: 1.5s;
    color: yellow;
}
.span{
    font-size: 3rem;
    color: chartreuse;
}
.spanii{
    display: inline;
    text-align: center;
    font-size: 1.5rem;
    color: chartreuse;
}
.icon{
    padding: 20px;
    text-align: center;
    font-size: 60px;
 
 }
 .cardi i:hover{
    padding: 10px;
    border: 10px;
    color: violet;

}
.cardi{
    text-align: center;
}
.bg-image{
    position: relative;
    height:300px ; 
}
.img-design {
    transition: width 1s; 
   
   }
.img-design :hover{
       width: 400px;
       transition: 0.5s;
       position: absolute;      
 }
.text-bg{
   margin: 50px;
   color: rgb(14, 14, 14);
   text-align: center;
}
.section-counter{
    background-image: url(img/over-lay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:300px;   
   
}
.section-counter h2{
 display: inline-block;
 margin-top: 50px;
 color: rgba(14, 225, 14, 0.835);
}
.felx-box{
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box{
    margin: 50px;
}
.bod{
    color: rgb(193, 138, 165);
}
.bg-colors{
    background-color: rgb(245, 245, 245);
}
.acc-img{
    display: inline;
    height: 400px;
    width: 800px;
}
.accordion{
    height: 500px;
    width: 700px;
}
.footer{
    background-image: url(img/breadcrumbs-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    
}
.icons-design{
   font-size: 20px;
   color: rgb(17, 16, 16);
   border: 1px solid white;
   border-radius: 5px;
   padding: 10px;
   background-color: cyan;
   margin: 5px;
}
.icons-design:hover{
    padding: 10px;
    border: 10px;
    color:yellow;
}
.foter-desgin h3{
    display: inline-block;
    margin-top: 30px;
}
/* about secation  */
/* .about-bg{
    background-image: url(img/breadcrumbs-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
} */